:root {
  --spotify-green: #1DB954;
  --spotify-black: #121212;
  --spotify-white: #FFFFFF;
  --spotify-dark-gray: #282828;
}

.spotify-navbar {
  color: var(--spotify-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--spotify-black);
  padding: 20px 60px;
  height: 80px;
  margin-bottom: 25px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--spotify-black);
  flex-wrap: wrap;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.search-bar {
  position: relative;
  margin-top: 10px;
  width: 100%;
  max-width: 700px; 
}

.search-bar input {
  background-color: var(--spotify-dark-gray);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 20px;
  color: var(--spotify-white);
  width: 100%; 
  height: 47px;
  transition: width 0.3s ease;
}

.logo img {
  height: 50px;
}

.nav-button {
  color: var(--spotify-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 40px;
  background-color: var(--spotify-dark-gray);
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: 600;
}

.nav-button:hover {
  transform: scale(1.05);
}

.nav-button.premium {
  background-color: var(--spotify-white);
  color: var(--spotify-black);
}

.nav-button.install {
  background-color: var(--spotify-dark-gray);
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-button.profile {
  background-color: var(--spotify-dark-gray);
  border-radius: 50%;
  padding: 10px;
}

.nav-button.home {
  background-color: var(--spotify-dark-gray);
  border-radius: 50%;
  padding: 10px;
}

.nav-button.logout {
  background-color: var(--spotify-dark-gray);
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-button.logout:hover {
  transform: scale(1.05);
}

.search-results {
  position: absolute;
  top: 45px;
  left: 0;
  background: var(--spotify-dark-gray);
  width: 100%;
  max-width: 700px; 
  border-radius: 10px;
  overflow-y: auto;
  max-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px 0;
  margin-top: 10px;
}

.search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.search-result:hover {
  background: var(--spotify-green);
}

.search-result img.cover {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-results::-webkit-scrollbar {
  width: 8px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: var(--spotify-dark-gray);
  border-radius: 4px;
}

.search-results::-webkit-scrollbar-track {
  background-color: var(--spotify-black);
}

.filter-options {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.filter-btn {
  background: black;
  color: var(--spotify-white);
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.filter-btn.active {
  background: var(--spotify-white);
  color: var(--spotify-black);
}

.filter-btn:hover {
  transform: scale(0.95);
}

.filter-btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  .spotify-navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    height: auto; 
  }

  .navbar-left, .navbar-right {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
  }

  .nav-button {
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  .search-bar input {
    width: 100%;  
    max-width: 100%;  
  }

  .search-results {
    width: 100%;
    max-width: 700px; 
    left: 0;
    padding: 10px 0;
  }
}
