<div *ngIf="playlistId && playlist" class="playlist-container">
  <div class="playlist-header">
    <div class="album-image-container">
      <img *ngIf="playlist.imageUrls?.length; else noImage"
           [src]="playlist.imageUrls[0]"
           alt="Album cover"
           class="album-image">
      <ng-template #noImage>
        <div class="album-image no-image"></div>
      </ng-template>
    </div>

    <div class="album-info">
      <h2 class="album-title">{{ playlist.name || 'Unnamed Playlist' }}</h2>
      <p class="album-owner">{{ playlist.ownerDisplayName || 'Unknown' }}</p>

      <button mat-icon-button color="warn" class="delete-button" (click)="onDeletePlaylist(playlistId)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="songs.length === 0" class="text-gray-400 text-center mt-6">
    No songs found!
  </div>

  <div class="song-list">
    <app-song 
      *ngFor="let song of songs" 
      [song]="song" 
      (playRequest)="onPlay($event)" 
      (deleteRequest)="onDelete($event)">
    </app-song>
  </div>
</div>
