$user-green: #1db954;
$dark-gray: #121212;
$light-gray: #b3b3b3;
$white: #ffffff;
$shadow-dark: rgba(0, 0, 0, 0.8);

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-gray;
  color: $white;
  padding: 50px;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Left Section */
.profile-sidebar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #2d2d2d;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 0px 0px;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px $shadow-dark;
  overflow: hidden;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  mat-icon {
    font-size: 50px;
    color: $light-gray;
  }
}

.profile-text {
  display: flex;
  flex-direction: column;

  .display-name {
    font-size: 66px;
    font-weight: bold;
    color: $white;
    margin-top : 80px;
  }

  .public-playlists {
    font-size: 18px;
    color: $light-gray;
    margin-top: 25px;
    margin-right: 10px;
  }
}

/* Right Section */
.profile-details {
  background-color: #282828;
  padding: 30px;

  p {
    margin: 20px 0;
    font-size: 18px;
    letter-spacing: 1px;
  }

  strong {
    margin-right: 8px;
    letter-spacing: 1px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .view-profile,
    .edit-profile {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: $white;
      border: 2px solid $user-green;
      border-radius: 30px;
      padding: 12px 24px;
      cursor: pointer;
      font-size: 15px;
      text-decoration: none;
      transition: all 0.3s ease;

      mat-icon {
        margin-right: 4px;
      }

      &:hover {
        background-color: $user-green;
        color: $dark-gray;
      }
    }
  }
}
