/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #121212; }


.snack-error {
    background-color: #f44336;
    color: white;
    font-weight: bold; 
  }
  
  .snack-success {
    background-color: #4caf50;
    color: white; 
    font-weight: bold; 
  }
  
