<div class="playlists-container min-h-screen w-full p-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold text-white">Your Playlists</h2>

    <button (click)="toggleCreateForm()" class="add-btn">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div *ngIf="showCreateForm" class="modal-overlay" (click)="toggleCreateForm()"></div>
  <div *ngIf="showCreateForm" class="modal">
    <h3>Create New Playlist</h3>

    <form [formGroup]="createPlaylistForm" (submit)="createPlaylist($event)">
      <input type="text" formControlName="name" placeholder="Playlist Name" required class="input-field" />

      <textarea formControlName="description" placeholder="Description..." class="textarea-field"></textarea>

      <div class="visibility-toggle">
        <button 
          (click)="setVisibility(true)" 
          [class.active]="createPlaylistForm.value.isPublic"
          type="button">
          <i class="fas fa-eye"></i>
        </button>
        <button 
          (click)="setVisibility(false)" 
          [class.active]="!createPlaylistForm.value.isPublic"
          type="button">
          <i class="fas fa-eye-slash"></i>
        </button>
      </div>

      <div class="action-buttons">
        <button type="submit" class="save-btn">Create</button>
        <button type="button" (click)="toggleCreateForm()" class="cancel-btn">Cancel</button>
      </div>
    </form>
  </div>

  <div *ngIf="playlists.length === 0" class="text-gray-400">No playlists found.</div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <app-playlist 
      *ngFor="let playlist of playlists" 
      [playlist]="playlist"
      (deleteRequest)="deletePlaylist($event)">
    </app-playlist>
  </div>
</div>
