<div class="flex justify-center items-center h-screen bg-[#121212]">
  <div class="flex flex-col items-center text-white w-full max-w-md px-6">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg" class="mb-8 p-8" />
    <button
      (click)="loginWithSpotify()"
      class="w-full py-4 px-2 bg-[#121212] border-2 border-[#1DB954] rounded-full text-white font-bold text-lg hover:bg-[#1DB954] hover:text-black transition duration-300">
      Login with Spotify
    </button>
  </div>
</div>
