<div class="song-details-container" *ngIf="song">
  <div class="song-image" [ngStyle]="{'background-image': 'url(' + song.album.imageUrl + ')'}">
    <div class="overlay">
      <div class="song-info">
        <h1 class="song-name">{{ song.name }}</h1>
        <h2 class="artist-name">{{ song.artists[0].name }}</h2>
      </div>

      <div class="options-menu">
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #optionsMenu="matMenu">
          <button mat-menu-item (click)="toggleFollow()">
            <mat-icon>{{ isFollowing ? 'person_remove' : 'person_add' }}</mat-icon>
            {{ isFollowing ? 'Unfollow' : 'Follow' }}
          </button>
          <button mat-menu-item (click)="togglePlaylists()">
            <mat-icon>playlist_add</mat-icon>
            Add to Playlist
          </button>
        </mat-menu>
      </div>

      <div class="playlist-dropdown" [ngClass]="{'show': isPlaylistsVisible}">
        <ul>
          <li *ngFor="let playlist of playlists">
            <button (click)="addToPlaylist(playlist)">
              {{ playlist.name }}
            </button>
          </li>
        </ul>
      </div> 
    </div>
  </div>

  <div class="controls-section">
    <button class="play-button" (click)="playSong()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <div class="playback-controls">
      <mat-slider min="0" [max]="song.durationMs" step="1" [(ngModel)]="currentTime"></mat-slider>
      <div class="time-info">
        <span>{{ formatTime(song.duration_ms) }}</span>
      </div>
    </div>
    <div class="album-info">
      <img [src]="song.album.imageUrl" alt="Album Image" class="album-image">
    </div>
  </div>
</div>
