$user-green: #1db954;
$dark-gray: #121212;

.song-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 29px;
  background: #1e1e1e;
  color: #fff;
  margin-bottom: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: none; 
  cursor: pointer;

  &:hover{
    background-color: #8d8d8d29;
  }

  .song-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1; 

    .play-btn {
      background-color: $user-green;
      border: none;
      color: $dark-gray;
      cursor: pointer;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      margin-left: 10px;
      border-radius: 50%;
    }

    .album-image-container {
      margin-right: 15px;
    }

    .album-image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }

    .song-details {
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      .song-title {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .song-artist {
        font-size: 14px;
        color: #b3b3b3;
      }
    }
  }

  .popularity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 100px; 

    .popularity-text {
      font-size: 16px;
      color: #b3b3b3;
    }
  }

  .song-actions {
    display: flex;
    align-items: center;

    .song-duration {
      margin-right: 19px;
      font-size: 20px;
      letter-spacing: 2px;
      color: #b3b3b3;
    }

    .delete-btn {
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      border-radius: 50%;
    }
  }
}
