$user-green: #1db954;
$dark-gray: #121212;

.song-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 29px;
  background: #1e1e1e;
  color: #fff;
  margin-bottom: 8px;
  border-bottom: 2px solid $user-green;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition for hover effects */

  &:hover {
    width: 99%;
    transform: scale(1.05);
    cursor: pointer;
  }

  .play-btn {
    background-color: $user-green;
    border: none;
    color: $dark-gray;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 50px;
  }

  .song-details {
    flex-grow: 1;
    margin-left: 15px;

    .song-title {
      font-size: 16px;
      font-weight: bold;
    }

    .song-artist {
      font-size: 14px;
      color: #b3b3b3;
    }
  }

  .song-actions {
    display: flex;
    align-items: center;

    .song-duration {
      margin-right: 19px;
      font-size: 20px;
      letter-spacing: 2px;
      color: #b3b3b3;
    }

    .delete-btn {
      background: none;
      border: none;
      color: #ff4d4d;
      font-size: 24px;
      cursor: pointer;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      border-radius: 50px;
    }
  }
}
